# Python environment and code counter
.venv
.VSCodeCounter

# Python bytecode
*/__pycache__/
__pycache__

# Log files and database files
logs
*.db

# Arquivo para testes
compactar.py
projetointegrador.zip