<div class="sidebar">
    <div class="sidebar-header">
        <div class="sidebar-logo">
            <i class="fas fa-box-open"></i>
        </div>
        <h4>GEP</h4>
        <p class="user-role">{{ session.user_level|capitalize if session.user_level else 'Usuário' }}</p>
    </div>

    <ul class="sidebar-menu">
        <li class="{{ 'active' if request.endpoint == 'dashboard' else '' }}">
            <a href="{{ url_for('dashboard') }}">
                <i class="fas fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="{{ 'active' if request.endpoint == 'produtos.produtos_page_html' else '' }}">
            <a href="{{ url_for('produtos.produtos_page_html') }}">
                <i class="fas fa-boxes"></i>
                <span>Produtos</span>
            </a>
        </li>

        <li class="{{ 'active' if request.endpoint == 'produtos.categorias_page_html' else '' }}">
            <a href="{{ url_for('produtos.categorias_page_html') }}">
                <i class="fas fa-tags"></i>
                <span>Categorias</span>
            </a>
        </li>

        <!--
            <li class="{{ 'active' if request.endpoint == 'estoque.movimentacoes_page' else '' }}">
                <a href="{{ url_for('estoque.movimentacoes_page') }}">
                    <i class="fas fa-exchange-alt sidebar-icon"></i>
                    <span>Movimentações</span>
                </a>
            </li>
        -->

        <li class="{{ 'active' if request.endpoint == 'fornecedores.fornecedores_page_html' else '' }}">
            <a href="{{ url_for('fornecedores.fornecedores_page_html') }}">
                <i class="fas fa-truck"></i>
                <span>Fornecedores</span>
            </a>
        </li>

        {% if session.user_level == 'admin' %}
        <li
            class="{{ 'active' if request.endpoint == 'auth.listar_usuarios' or request.endpoint == 'auth.novo_usuario' else '' }}">
            <a href="{{ url_for('auth.listar_usuarios') }}">
                <i class="fas fa-users"></i>
                <span>Usuários</span>
            </a>
        </li>
        {% endif %}

        <li>
            <a href="{{ url_for('auth.logout') }}">
                <i class="fas fa-sign-out-alt"></i>
                <span>Sair</span>
            </a>
        </li>
    </ul>
</div>